@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  outline: none;
}

html{height: 100%}

header{
  min-width: 1400px;
  height: 100%;
  height: 72px;
  background-color: #000000;
}
.manage-panel{
    margin: auto;
    width: 1102px;
    height: 72px;
}

.manage-panel>div{
    display: inline-block;
}

#logo{
  width: 79px;
  height: 27px;
  padding: 23px 0px 0px 150px;

}

#menu-bar{
  float: right;
  width: 500px;
  height: 72px;
  padding-right: 148px;
}

.menu{
    float: right;
    list-style-type: none;
    margin-top: 27px;
}
.menu>li{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-left: 47px;
  display: inline;
}

.menu>li>a{
  text-decoration: none;
  color: #ffffff;
}

.menu>li>a:hover{
  color: #9a9a9a;
  transition: all.3s ease;
}

.trial-form{
  height: 641px;
  width: 100%;
  background-color: #9a9a9a;
}

.trial-main{
  margin: auto;
  width: 1108px;
  height: 398px;
  padding: 110px 142px 0px 150px;
}

.left-side{
  float: left;
  width: 512px;
  height: 100%;
}

.left-side>#main-text>span{
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
}

.left-side>#main-text{
  float: left;
  width: 512px;
  height: 70px;
}

#text{
  float: left;
  width: 100%;
  height: 61px;
  padding-bottom: 44px;
}

#text>span{
  float: left;
  opacity: 0.6;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

#trial-img{
  float: left;
  width: 100%;
  padding-bottom: 33px;
}

#trial-line{
  float: left;
  padding-top: 36px;
  padding-bottom: 30px;
}

#download-button{
  float: left;
  width: 135px;
  height: 42px;
  border: 2px solid white;
  background-color: #9a9a9a;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
/* font-weight: bold; */
}

#download-button:hover{
  background-color: ;
  transition: all.3s ease;
}

.right-side{
  float: left;
  width: 596px;
  height: 100%;
}
